.nav
{
    list-style: none;

    margin-bottom: 16px;
    padding-left: 0;
}

.nav__item:hover .link,
.nav__item:focus .link
{
    box-shadow: 0 0 1px #c0a37c;
    border-radious: 3px;
}

.nav__item .link
{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

/*.nav .nav__item
{
    display: inline-block;
    padding: 0 12px;
}
*/
